#mainPage{
    display: block;
}

#booking{
    display: none;
}

#login{
    display: none;
}

#fromPage , #branches , #profile , #register{
    display: none;
}

#backPage {
    display: none;
}

#bookingPage{
    display: none;
}